body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #ffffff;
  color: #222;
  font-size: 18px;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 26px 0px;
  text-align: center;
  z-index: 1000;
}

.footer__text {
  font-size: 0.9rem;
}

.footer__text a{
  color:#bfbfbf;
  transition:color .2s ease-in-out;
  margin:0 0.3rem;
}

.footer__text a:hover {
  color: #ffffff;
  background-color: #444;
}

.footer__text a:active {
  color: #ffffff;
}

/* Styling for the Projects section */
.projects-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-wrapper a, .projects-wrapper a:visited {
  text-decoration: none;
  color: inherit;
}

.projects-wrapper a:hover {
  text-decoration: none;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling individual project boxes */
.grid-item {
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.grid-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Title styling */
.grid-item .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
  text-decoration: none;
}

/* Description paragraph styling */
.grid-item p {
  font-size: 16px;
  color: #444;
  flex-grow: 1;
  margin: 10px 0px 10px;
}

.grid-item img.center {
  width: 100%;
  height: auto;
  display: block;
}

.video-link-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* Video link styling */
.grid-item a.video-link, .grid-item a.video-link:visited {
  text-align: center;
  display: block;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: auto;
  position: relative;
  z-index: 2;
}

.grid-item a.video-link:hover {
  background-color: #0056b3;
}

/* Styling for the About Section */
#about {
  padding: 30px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.section-title {
  font-size: 32px;
  color: #222;
  text-align: center;
  margin: 20px 0px 20px;
}

/* Flexbox setup for the row containing all elements */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* Styling for the image container */
.about-wrapper__image {
  position: relative;
  padding: 10px;
  margin-top: 14px;
  flex: 1 1 25%;
  max-width: 25%;
}

img.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

img.img-fluid:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* Styling for the information container */
.about-wrapper__info {
  flex: 1 1 70%;
  max-width: 70%;
  text-align: left;
}

.about-wrapper__info-text {
  font-size: 24px;
  line-height: 1.5;
  color: #444;
}

.about-wrapper__info-text a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.about-wrapper__info-text a:hover,
.about-wrapper__info-text a:focus {
  color: #0056b3;
  text-decoration: underline;
}

/* Adjustments for call-to-action buttons */
.about-wrapper__cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px
}

.cta-btn {
  display: inline-block;
  background-color: #007BFF;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  width: auto;
}

.cta-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pictures::-webkit-scrollbar {
  display: none;
}

.pictures {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-right: 300px;
  margin-top: 5px;
  flex-direction: row;
  flex-wrap:nowrap;
  overflow: scroll;
  align-items: center;
}

.film-image {
  height: 50vh;
  align-self: center;
}

.picture {
  margin-right: 30px;
  margin-left: 30px;
}

.image-caption {
  font-size: 12px;
  margin-top: 5px
}

.scroll-left, .scroll-right {
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.about-ruby {
  font-size: 20px;
  color: #444;
  line-height: 1.5;
  max-width: 60%;
  text-align: left;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .picture {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .picture {
    width: 100%;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body, .footer{
    background-color: #222;
    color: #b3b3b3;
  }

  ul, .footer, .grid-item, .cta-btn {
    background-color: #444;
  }

  .footer__text a {
    color: #ccc;
  }

  .grid-item, .cta-btn {
    border-color: #555;
  }

  .about-wrapper__info-text,
  .section-title,
  .footer__text a:hover,
  .about-ruby,
  .grid-item .title,
  .grid-item p
  {
    color: #fff;
  }
}
